<h1>New Ingredient</h1>

<% form_for Ingredient.new do |f| %>
	<table>
		<tr>
			<th class="right top">Name</th>
			<td><%= f.text_field :name %></td>
		</tr>
		
		<tr>
			<th class="right top">Description</th>
			<td><%= f.text_area :description %></td>
		</tr>
		
		<tr>
			<th class="right top"></th>
			<td><%= submit_tag %> <%= link_to 'cancel', ingredients_path %></td>
		</tr>
	</table>
<% end %>